{% extends "base.html" %}

<head>
  {% block extra_title %} - Payment Cancelled {% endblock %}
</head>

<body>
  {% block content %}
  <div class="cancel-container">
    <header>
      <h1 class="cancel">Payment Canceled</h1>
    </header>
    <main>
      <p class="cancel">It looks like you canceled your payment. What would you like to do next?</p>
      <div class="button-group">
        <a href="{% url 'cart:view_cart' %}">Go Back to Cart</a>
        <a href="{% url 'product_list' %}" class="secondary">Go to Product List</a>
      </div>
    </main>
  </div>
  {% endblock %}
</body>
