{% extends 'fitness/base.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}
<h1>Your Wishlist</h1>
<div class="product-grid">
    {% for item in wishlist_items %}
        <div class="product-card">
            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
            <h2>{{ item.product.name }}</h2>
            <p>${{ item.product.price }}</p>
            <a class="product-link" href="{% url 'product_detail' item.product.id %}">View Details</a>
        </div>
    {% empty %}
        <p>Your wishlist is empty.</p>
    {% endfor %}
</div>
{% endblock %}
