
{% extends "base.html" %}
{% load static %}
<script src="/static/fitness/js/functions.js"></script>

{% block content %}
  <h2>Our Subscription Plans</h2>
  <div class="subscription-plans">
    {% if plans %}
      <ul>
        {% for plan in plans %}
          <li class="subscription-plan {{ plan.name|lower }}">  <!-- Class based on the plan name -->
            <h3>{{ plan.name }}</h3>
            <p>Price: ${{ plan.price }}</p>
            <p>Duration: {{ plan.duration }} days</p>
            <div>
              {{ plan.benefits|safe }}
            </div>
            <!-- Subscribe button linking to the subscribe view -->
            <a href="{% url 'subscribe' plan.id %}" class="btn btn-primary">Subscribe</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No subscription plans available.</p>
    {% endif %}
  </div>

{% endblock %}
